<div [fxHide.gt-md]="true"
     fxLayoutGap="16px">
  <ng-container [ngTemplateOutlet]="headerMenu"></ng-container>
  <ng-container [ngTemplateOutlet]="appName"></ng-container>
</div>
<div [fxHide.lt-lg]="true"
     fxLayoutGap="16px">
  <ng-container [ngTemplateOutlet]="appName"></ng-container>
  <ng-container [ngTemplateOutlet]="headerMenu"></ng-container>
</div>


<span [fxFlex]="'auto'"></span>

<app-header-go-to-app [fxHide.lt-md]="true"></app-header-go-to-app>

<ng-template #headerMenu>
  <app-header-menu [fxFlex]="'auto'"
                   [fxLayoutAlign]="'start center'">
  </app-header-menu>
</ng-template>

<ng-template #appName>
  <app-header-app-name [fxFlex]="'0 0 auto'"
                       [fxLayoutAlign]="'start center'">
  </app-header-app-name>
</ng-template>
