<form [formGroup]="form">

  <nb-stepper #stepper
              [orientation]="breakpointObserver.isMatched('(max-width: 960px)') ? 'horizontal' : 'vertical'">

    <!-- CALENDARS -->
    <nb-step [label]="'APP.AGENDA.FORM.EVENT.STEPS.STEP-1.LABEL' | translate">
      <h6>
        <nb-icon [icon]="'calendar-outline'"></nb-icon>
        {{ 'APP.AGENDA.FORM.EVENT.STEPS.STEP-1.TITLE' | translate }}
      </h6>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span>{{ 'APP.AGENDA.FORM.EVENT.CALENDARS' | translate }}:</span>

        <nb-select placeholder="Agenda"
                   [status]="'primary'"
                   [formControlName]="'agenda'"
                   [compareWith]="compareFn">
          <nb-option *ngFor="let agenda of agendas$ | async"
                     [value]="agenda">
            <app-agenda-label [agenda]="agenda"></app-agenda-label>
          </nb-option>
        </nb-select>
      </div>
    </nb-step>

    <!-- PLAGE HORAIRE -->
    <nb-step [label]="'APP.AGENDA.FORM.EVENT.STEPS.STEP-2.LABEL' | translate">
      <h6>
        <nb-icon [icon]="'clock-outline'"></nb-icon>
        {{ 'APP.AGENDA.FORM.EVENT.STEPS.STEP-2.TITLE' | translate }}
      </h6>
      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span>{{ 'APP.AGENDA.FORM.EVENT.STARTTIME' | translate }}:</span>

        <input [style.width]="'155px'"
               nbInput
               fullWidth
               [status]="'primary'"
               [nbDatepicker]="startTimePicker"
               [formControlName]="'startTime'"/>
        <nb-date-timepicker
          #startTimePicker
          style="display: none"
          [singleColumn]="true"
          [applyButtonText]="'GLOBAL.OK' | translate"
          [currentTimeButtonText]="'GLOBAL.NOW' | translate"
          [step]="10">
        </nb-date-timepicker>
        <nb-timepicker>
        </nb-timepicker>
      </div>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span>{{ 'APP.AGENDA.FORM.EVENT.ENDTIME' | translate }}:</span>

        <input [style.width]="'155px'"
               nbInput
               fullWidth
               [status]="'primary'"
               [nbDatepicker]="endTimePicker"
               [formControlName]="'endTime'"/>
        <nb-date-timepicker
          #endTimePicker
          style="display: none"
          [applyButtonText]="'GLOBAL.OK' | translate"
          [currentTimeButtonText]="'GLOBAL.NOW' | translate"
          [singleColumn]="true"
          [step]="10">
        </nb-date-timepicker>
      </div>
    </nb-step>

    <nb-step [label]="'APP.AGENDA.FORM.EVENT.STEPS.STEP-3.LABEL' | translate">
      <h6>
        <nb-icon [icon]="'briefcase-outline'"></nb-icon>
        {{ 'APP.AGENDA.FORM.EVENT.STEPS.STEP-3.TITLE' | translate }}
      </h6>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <nb-checkbox [status]="'primary'"
                     [formControlName]="'private'">
          {{ 'APP.AGENDA.FORM.EVENT.IS_PRIVATE' | translate }}
        </nb-checkbox>
      </div>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span>{{ 'APP.AGENDA.FORM.EVENT.STATUS.TITLE' | translate }}</span>

        <nb-radio-group fxLayout.gt-sm="row"
                        fxLayoutAlign.gt-sm="start center"
                        fxLayoutGap.gt-sm="16px"
                        [name]="'statusSelector'"
                        [status]="'primary'"
                        [formControlName]="'statusDisplayed'">
          <nb-radio [value]="'BUSY'">
            {{ 'APP.AGENDA.FORM.EVENT.STATUS.BUSY' | translate }}
          </nb-radio>
          <nb-radio [value]="'FREE'">
            {{ 'APP.AGENDA.FORM.EVENT.STATUS.FREE' | translate }}
          </nb-radio>
        </nb-radio-group>
      </div>
    </nb-step>
  </nb-stepper>
</form>
