<form [formGroup]="form">

  <nb-stepper #stepper
              [linear]="true"
              [orientation]="breakpointObserver.isMatched('(max-width: 960px)') ? 'horizontal' : 'vertical'">

    <!-- CALENDARS -->
    <nb-step [label]="'APP.AGENDA.FORM.EVENT.STEPS.STEP-1.LABEL' | translate">
      <h6>
        <nb-icon [icon]="'calendar-outline'"></nb-icon>
        {{ 'APP.AGENDA.FORM.EVENT.STEPS.STEP-1.TITLE' | translate }}
      </h6>

      <!-- INPUT NAME -->
      <nb-form-field [style.marginBottom]="(checkFieldForError('name')) ? '32px' : '16px'">
        <label for="name-input">Nom :</label>

        <input [formControlName]="'name'"
               id="name-input"
               type="text"
               nbInput
               fullWidth
               [status]="(checkFieldForError('name')) ? 'danger' : 'primary'"
               placeholder="Nom">
        <nb-error *ngIf="checkFieldForError('name')">
          <ng-container *ngIf="form.get('name').errors.required">
            {{ 'FORM.INPUT.ERRORS.REQUIRED' | translate }}
          </ng-container>
        </nb-error>
      </nb-form-field>

      <!-- SELECT AGENDA -->
      <nb-form-field [style.marginBottom]="(checkFieldForError('agenda')) ? '32px' : '16px'">
        <label for="agenda-select">{{ 'APP.AGENDA.FORM.EVENT.CALENDARS' | translate }}:</label>

        <nb-select placeholder="Agenda"
                   id="agenda-select"
                   [status]="(checkFieldForError('agenda')) ? 'danger' : 'primary'"
                   [formControlName]="'agenda'"
                   [compareWith]="compareFn">
          <nb-option-group [title]="'APP.AGENDA.FORM.EVENT.MY_CALENDARS'  | translate"
                           *ngIf="(agendas$ | async) as myAgendas">
            <nb-option *ngIf="!myAgendas.length"
                       [disabled]="true">
              <small>
                <i>{{ 'APP.AGENDA.FORM.EVENT.NO_CALENDARS' | translate}}</i>
              </small>
            </nb-option>
            <nb-option *ngFor="let agenda of myAgendas"
                       [value]="agenda">
              <app-agenda-label [agenda]="agenda">
                {{ agenda.name | translate }}
              </app-agenda-label>
            </nb-option>
          </nb-option-group>
          <nb-option-group [title]="'APP.AGENDA.FORM.EVENT.SHARED_CALENDARS'  | translate"
                           *ngIf="(sharedAgendas$ | async) as mySharedAgendas">
            <nb-option *ngIf="!mySharedAgendas.length"
                       [disabled]="true">
              <small>
                <i>{{ 'APP.AGENDA.FORM.EVENT.NO_SHARED_CALENDARS' | translate}}</i>
              </small>
            </nb-option>
            <nb-option *ngFor="let agenda of mySharedAgendas"
                       [value]="agenda">
              <app-agenda-label [agenda]="agenda">
                {{ agenda.user.displayFormattedName() }}
              </app-agenda-label>
            </nb-option>
          </nb-option-group>
        </nb-select>
        <nb-error *ngIf="checkFieldForError('agenda')">
          <ng-container *ngIf="form.get('agenda').errors.required">
            {{ 'FORM.INPUT.ERRORS.REQUIRED' | translate }}
          </ng-container>
        </nb-error>
      </nb-form-field>

      <!-- PLAGE HORAIRE -->
      <div fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="12px"
           [style.paddingLeft]="'26px'">
        <div fxLayout="column"
             fxLayoutAlign="center start">
          <label for="startDate-select">{{ 'APP.AGENDA.FORM.EVENT.STARTTIME' | translate }}:</label>
          <nb-form-field [style.paddingLeft]="'0'"
                         [style.marginBottom]="(checkFieldForError('startDate')) ? '32px' : '16px'">

            <input [style.width]="'155px'"
                   id="startDate-select"
                   nbInput
                   fullWidth
                   [status]="(checkFieldForError('startDate')) ? 'danger' : 'primary'"
                   [nbDatepicker]="startDatePicker"
                   [formControlName]="'startDate'"/>
            <nb-date-timepicker
              #startDatePicker
              style="display: none"
              [singleColumn]="true"
              [applyButtonText]="'GLOBAL.OK' | translate"
              [currentTimeButtonText]="'GLOBAL.NOW' | translate"
              [step]="10">
            </nb-date-timepicker>
            <nb-error *ngIf="checkFieldForError('startDate')">
              <ng-container *ngIf="form.get('startDate').errors.required">
                {{ 'FORM.INPUT.ERRORS.REQUIRED' | translate }}
              </ng-container>
              <ng-container *ngIf="form.get('startDate').hasError('incorrectDate')">
                {{ 'FORM.INPUT.ERRORS.INCORRECT_DATE' | translate }}
              </ng-container>
            </nb-error>

          </nb-form-field>
        </div>

        <div fxLayout="column"
             fxLayoutAlign="center start">
          <label for="endDate-select">{{ 'APP.AGENDA.FORM.EVENT.ENDTIME' | translate }}:</label>
          <nb-form-field [style.paddingLeft]="'0'"
                         [style.marginBottom]="(checkFieldForError('endDate')) ? '32px' : '16px'">

            <input [style.width]="'155px'"
                   id="endDate-select"
                   nbInput
                   fullWidth
                   [status]="(checkFieldForError('endDate')) ? 'danger' : 'primary'"
                   [nbDatepicker]="endDatePicker"
                   [formControlName]="'endDate'"/>
            <nb-date-timepicker
              #endDatePicker
              style="display: none"
              [applyButtonText]="'GLOBAL.OK' | translate"
              [currentTimeButtonText]="'GLOBAL.NOW' | translate"
              [singleColumn]="true"
              [step]="10">
            </nb-date-timepicker>
            <nb-error *ngIf="checkFieldForError('endDate')">
              <ng-container *ngIf="form.get('endDate').errors.required">
                {{ 'FORM.INPUT.ERRORS.REQUIRED' | translate }}
              </ng-container>
              <ng-container *ngIf="form.get('endDate').hasError('incorrectDate')">
                {{ 'FORM.INPUT.ERRORS.INCORRECT_DATE' | translate }}
              </ng-container>
            </nb-error>
          </nb-form-field>
        </div>
      </div>

      <!-- IS MEETING -->
      <div fxFlex="100%"
           [style.paddingLeft]="'26px'"
           fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="12px"
           [style.marginBottom]="(checkFieldForError('meetingUrl')) ? '32px' : '16px'">
        <nb-toggle #meetingToggler
                   [checked]="hasMeeting"
                   labelPosition="start"
                   (checkedChange)="hasMeetingChanged($event)">
          Réunion ?
        </nb-toggle>
        <nb-form-field *ngIf="meetingToggler.checked">
          <label for="meeting-input">Url de la réunion :</label>

          <input [formControlName]="'meetingUrl'"
                 id="meeting-input"
                 type="text"
                 nbInput
                 fullWidth
                 [status]="(checkFieldForError('meetingUrl')) ? 'danger' : 'primary'"
                 placeholder="Nom">
          <nb-error *ngIf="checkFieldForError('meetingUrl')">
            <ng-container *ngIf="form.get('meetingUrl').errors.required">
              {{ 'FORM.INPUT.ERRORS.REQUIRED' | translate }}
            </ng-container>
            <ng-container *ngIf="form.get('meetingUrl').errors.pattern">
              {{ 'FORM.INPUT.ERRORS.PATTERN.URL' | translate }}
            </ng-container>
          </nb-error>
        </nb-form-field>
      </div>

      <!-- DESCRIPTION -->
      <div [style.paddingLeft]="'26px'">
        <label for="description-input">Description :</label>
        <nb-form-field [style.paddingLeft]="'0'">
          <textarea id="description-input"
                    nbInput
                    fullWidth
                    placeholder="Description"
                    status="primary">
          </textarea>
        </nb-form-field>
      </div>


    </nb-step>

    <!-- VISIBILITY -->
    <nb-step [label]="'APP.AGENDA.FORM.EVENT.STEPS.STEP-3.LABEL' | translate">
      <h6>
        <nb-icon [icon]="'briefcase-outline'"></nb-icon>
        {{ 'APP.AGENDA.FORM.EVENT.STEPS.STEP-3.TITLE' | translate }}
      </h6>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <nb-checkbox [status]="'primary'"
                     [formControlName]="'private'">
          {{ 'APP.AGENDA.FORM.EVENT.IS_PRIVATE' | translate }}
        </nb-checkbox>
      </div>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span>{{ 'APP.AGENDA.FORM.EVENT.STATUS.TITLE' | translate }}</span>

        <nb-radio-group fxLayout.gt-sm="row"
                        fxLayoutAlign.gt-sm="start center"
                        fxLayoutGap.gt-sm="16px"
                        [name]="'statusSelector'"
                        [status]="'primary'"
                        [formControlName]="'statusDisplayed'">
          <nb-radio [value]="'BUSY'">
            {{ 'APP.AGENDA.FORM.EVENT.STATUS.BUSY' | translate }}
          </nb-radio>
          <nb-radio [value]="'FREE'">
            {{ 'APP.AGENDA.FORM.EVENT.STATUS.FREE' | translate }}
          </nb-radio>
        </nb-radio-group>
      </div>
    </nb-step>
  </nb-stepper>
</form>
