@import "../homepage.helper";

:host {
  height: auto;

  section {
    height: inherit;
    padding: 60px 20px 0;

    &.even {
      background: nb-theme(color-primary-400);
      color: white;
    }

    &.odd {
      color: nb-theme(color-primary-400);
    }

    h1 {
      @extend .font;
      @extend .--zilla-slab;
      color: inherit;
    }
  }
}
