<form [formGroup]="form">
  <form [formGroupName]="'viewSettings'">
    <div fxLayout="column"
         fxLayoutGap="8px">
      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span fxFlex.gt-sm="33%">{{ 'APP.AGENDA.FORM.SETTINGS.TIMESLOTS.TITLE' | translate }}:</span>
        <nb-select fullWidth
                   [placeholder]="'APP.AGENDA.FORM.SETTINGS.TIMESLOTS.TITLE' | translate"
                   [formControlName]="'timeSlotDisplayed'">
          <nb-option *ngFor="let timeSlot of agendaHelperService.timeSlotDuration"
                     [value]="timeSlot">
            {{ timeSlot.name + '.' + timeSlot.value | translate }}
          </nb-option>
        </nb-select>
      </div>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span fxFlex.gt-sm="33%">{{ 'APP.AGENDA.FORM.SETTINGS.DAYS.FIRSTDAYDISPLAYED' | translate }}:</span>
        <nb-select fullWidth
                   [placeholder]="'APP.AGENDA.FORM.SETTINGS.DAYS.FIRSTDAYDISPLAYED' | translate"
                   [formControlName]="'firstDayDisplayed'">
          <nb-option *ngFor="let weekDay of agendaHelperService.weekDays"
                     [value]="weekDay">
            {{ weekDay.name + '.' + weekDay.value | translate }}
          </nb-option>
        </nb-select>
      </div>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span fxFlex.gt-sm="33%">{{ 'APP.AGENDA.FORM.SETTINGS.STARTTIME' | translate }}:</span>

        <input nbInput
               fullWidth
               [nbTimepicker]="startTimePicker"
               [formControlName]="'startTime'"/>
        <nb-timepicker #startTimePicker
                       style="display: none"
                       [date]="form.get('viewSettings').get('startTime').value">
        </nb-timepicker>
      </div>

      <div fxLayout.lt-sm="column"
           fxLayoutAlign="start center"
           fxLayoutAlign.lt-sm="center start"
           fxLayoutGap="8px">
        <span fxFlex.gt-sm="33%">{{ 'APP.AGENDA.FORM.SETTINGS.ENDTIME' | translate }}:</span>

        <input nbInput
               fullWidth
               [nbTimepicker]="endTimePicker"
               [formControlName]="'endTime'"/>
        <nb-timepicker #endTimePicker
                       style="display: none"
                       [date]="form.get('viewSettings').get('endTime').value">
        </nb-timepicker>
      </div>
    </div>
  </form>
</form>
