:host {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;

  .dashboard-container {
    height: calc(100vh - 126px);

    .recap-card-container, .normal-card-container {
      padding: 0 12px;
    }

  }
}
