<nb-card>
  <nb-card-body>
    <nb-actions [size]="'small'">
      <nb-action>
        <div fxLayoutAlign="start center"
             fxLayoutGap="16px">

          <button ghost
                  nbButton
                  shape="round"
                  size="small"
                  status="primary">
            <nb-icon icon="arrow-left-outline"></nb-icon>
          </button>


          <div fxFlex="center center">
            <input class="date-selector-input"
                   nbInput
                   hero
                   status="primary"
                   fieldSize="tiny"
                   shape="round"
                   placeholder="Form Picker"
                   [nbDatepicker]="ngmodel"
                   [(ngModel)]="agendaHelperService.viewDate">
            <nb-datepicker #ngmodel></nb-datepicker>
          </div>

          <button ghost
                  nbButton
                  shape="round"
                  size="small"
                  status="primary">
            <nb-icon icon="arrow-right-outline"></nb-icon>
          </button>

        </div>
      </nb-action>
    </nb-actions>

    <span [fxFlex]="'auto'"></span>

    <nb-actions [size]="'small'">

      <nb-action>
        <nb-select [(ngModel)]="agendaHelperService.currentView"
                   [size]="'tiny'"
                   filled
                   placeholder="Selectionner une vue"
                   shape="semi-round"
                   status="primary">

          <nb-option *ngFor="let view of agendaHelperService.views"
                     [value]="view">
            {{ 'APP.AGENDA.VIEWS.' + view.toUpperCase() | translate }}
          </nb-option>

          <!--          <nb-option-group title="Ligne du temps">-->
          <!--            <nb-option *ngFor="let view of agendaHelperService.timelineViews"-->
          <!--                       [value]="view">-->
          <!--              {{ 'APP.AGENDA.VIEWS.' + view.toUpperCase() | translate }}-->
          <!--            </nb-option>-->
          <!--          </nb-option-group>-->

        </nb-select>
      </nb-action>
    </nb-actions>

  </nb-card-body>
</nb-card>
