<nb-card>
  <nb-card-body>
    <nb-actions [size]="'small'">
      <nb-action>
        <div fxLayoutAlign="start center"
             fxLayoutGap="16px">

          <button ghost
                  nbButton
                  shape="round"
                  size="small"
                  status="primary"
                  (click)="navigatePrevious()">
            <nb-icon icon="arrow-left-outline"></nb-icon>
          </button>


          <div fxFlex="center center">
            <input class="date-selector-input"
                   nbInput
                   hero
                   status="primary"
                   fieldSize="tiny"
                   shape="round"
                   [nbDatepicker]="viewDatePicker"
                   [(ngModel)]="agendaHelperService.viewDate"
                   (ngModelChange)="agendaHelperService.refreshAgenda$.next(true)">
            <nb-datepicker #viewDatePicker></nb-datepicker>
          </div>

          <button ghost
                  nbButton
                  shape="round"
                  size="small"
                  status="primary"
                  (click)="navigateNext()">
            <nb-icon icon="arrow-right-outline"></nb-icon>
          </button>

        </div>
      </nb-action>
    </nb-actions>

    <span [fxFlex]="'auto'"></span>

    <nb-actions [size]="'small'"
                fxLayoutGap="16px">

      <nb-action>
        <button ghost
                nbButton
                shape="round"
                size="medium"
                status="primary"
                (click)="agendaSettings()">
          <nb-icon icon="settings-2-outline"></nb-icon>
        </button>
      </nb-action>

      <nb-action [fxHide.lt-md]="true">
        <nb-select [(ngModel)]="agendaHelperService.currentViewDisplayed"
                   (ngModelChange)="agendaHelperService.refreshAgenda$.next(true)"
                   [size]="'tiny'"
                   filled
                   shape="semi-round"
                   status="primary"
                   [style.marginLeft]="'16px'">
          <nb-option *ngFor="let view of normalViews()"
                     [value]="view">
            {{ 'APP.AGENDA.VIEWS.' + view.toUpperCase() | translate }}
          </nb-option>

          <nb-option-group title="Ligne du temps">
            <nb-option *ngFor="let timeLineView of timeLineViews()"
                       [value]="timeLineView">
              {{ 'APP.AGENDA.VIEWS.' + timeLineView.toUpperCase() | translate }}
            </nb-option>
          </nb-option-group>
        </nb-select>
      </nb-action>

      <nb-action>
        <button nbButton
                [ghost]="calendarSidebarState !== 'expanded'"
                [outline]="calendarSidebarState === 'expanded'"
                [status]="calendarSidebarState !== 'expanded' ? 'basic' : 'danger'"
                shape="round"
                size="small"
                (click)="nbSidebarService.toggle(false, 'agenda')"
                [style.marginLeft]="'16px'">
          <nb-icon [icon]="calendarSidebarState !== 'expanded' ? 'funnel-outline' : 'close-outline'"
                   [status]="calendarSidebarState !== 'expanded' ? 'basic' : 'danger'">
          </nb-icon>
        </button>
      </nb-action>
    </nb-actions>
  </nb-card-body>
</nb-card>
