:host ::ng-deep {

  nb-card {
    margin-bottom: 0 !important;

    nb-card-body {
      padding: 1rem 0.8rem !important;

      nb-actions {
        nb-action {
          padding: 0 !important;
        }
      }
    }
  }

}
