<div class="title"
     fxLayoutAlign="space-between center">
  <span><ng-content></ng-content></span>

  <div>
    <button nbButton
            ghost
            size="tiny"
            shape="round"
            (click)="expanded = !expanded">
      <nb-icon [icon]="expanded ? 'arrow-ios-upward-outline' : 'arrow-ios-downward-outline'"></nb-icon>
    </button>
  </div>
</div>

<div *ngIf="expanded"
     class="calendars-container">
  <div *ngFor="let agenda of agendas$ | async; let index = index"
       fxLayoutAlign="space-between center"
       fxLayoutGap="8px">
    <nb-checkbox>
      <app-agenda-label [agenda]="agenda"
                        [fxFlex]="'calc(100% - 7rem)'">
        <ng-container *ngIf="isDefaultUserAgenda(agenda); else formattedNameTemplate">
          {{ agenda.name | translate }}
        </ng-container>
        <ng-template #formattedNameTemplate>
          {{ agenda.displayFormattedName() }}
        </ng-template>
      </app-agenda-label>
    </nb-checkbox>

    <app-agenda-calendar-btn [agenda]="agenda" [index]="index"></app-agenda-calendar-btn>
  </div>
</div>
