@import "../../../../../../theme/theme";

.title {
  margin-bottom: 0.375rem;
}

.calendars-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  padding-left: 0.5rem;
}

::ng-deep nb-checkbox.status-basic .native-input:disabled ~ .text {
  color: nb-theme(color-basic-800) !important;
}
