div.sidenav-container {
  height: calc(100vh - 8.125rem);

  nb-sidebar-header {
    padding: 0 1.25rem;

    h6 {
      margin: 0;
    }
  }

  .title {
    margin-bottom: 0.75rem;

    h6 {
      margin: 6px 0 !important;
    }
  }

  div.calendars-selector-container {
    max-height: calc(44% - 2rem);
  }
}
