<div class="hero">

  <div class="hero__image">
    <svg class="svg-graphic"
         viewBox="0 0 100 75">
      <g>
        <clipPath id="hexagonal-mask"
                  clipPathUnits="objectBoundingBox">
          <polygon id="point1"
                   points="0,0 .24,1 .76,.3">
            <animate
              attributeName="points"
              dur="15000ms"
              repeatCount="indefinite"
              calcMode="paced"
              values="0,0 .24,1 .76,.3;

                     0.1, 0.03 .22,0.94 .67,.35;

                     0,0.1 .23,0.97 .70,.32;

                     0,0 .24,1 .76,.3;"/>
          </polygon>
          <polygon id="point2"
                   points="0.52,0.75 0.88,1 1,0.1">
            <animate
              attributeName="points"
              dur="15000ms"
              repeatCount="indefinite"
              calcMode="paced"
              values=".52,.75 .88,1 1,.1;

                     .55,.78 .90,.94 .93,.15;

                     .51,.73 .94,.90 .96,.13;

                     .52,.75 .88,1 1,.1;"/>
          </polygon>

        </clipPath>
      </g>

      <image clip-path="url(#hexagonal-mask)"
             height="100%"
             width="100%"
             xlink:href="./assets/homepage/hero.png"/>

    </svg>
  </div>

  <div class="hero__content">
    <h1>Avec <span class="font --zilla-slab">My planning</span></h1>
    <p>La planification et le suivi de vos équipes devient ultra-simple.</p>
    <p>Accédez-y n'importe où</p>
    <div>
    </div>
  </div>
</div>
