@import "../../../theme/theme";

:host {
  div.hero-banner {
    height: calc(100vh - 76px);
    width: 100%;
  }

  div.hero-banner-background {
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(100vh - 76px);
    background: #2a70ea;

    span {
      font-family: kg-happy, serif;
      color: #2761c6;
      position: absolute;
      bottom: -4px;
      padding-left: 36px;
      font-size: 6em;
      line-height: 1em;
    }
  }
}


