:host ::ng-deep {
  button {
    box-shadow: -20px 11px 20px 1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: -20px 11px 20px 1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: -20px 11px 20px 1px rgba(0, 0, 0, 0.39);
  }
}
