<nb-card [style.borderColor]="event.Meta.agenda.color">
  <nb-card-header [style.backgroundColor]="event.PrimaryColor">
    <app-event-details-header (close)="dialogRef.close()"
                              (delete)="delete()"
                              (edit)="edit()"
                              [event]="event">
      {{ event.Subject }}
    </app-event-details-header>
  </nb-card-header>

  <nb-card-body>
    <app-event-details-content #eventDetailsContentComponent
                               [event]="event"
                               [fxFlex.gt-sm]="'80vw'">
    </app-event-details-content>
  </nb-card-body>
</nb-card>
