@import '../../../../../../theme/theme';

nb-card {
  border-width: 0 !important;
  border-left-width: 8px !important;

  ::ng-deep nb-card-header {
    border-top-left-radius: 0;
    color: #ffffff;
  }

  nb-card-body {
    padding: 1.5rem !important;

    ::ng-deep app-event-details-content {
      width: 100%;
    }
  }
}


