<nb-accordion [fxFlex.gt-sm]="'80vw'"
              [fxFlex.lt-sm]="'100%'">
  <nb-accordion-item [expanded]="true">
    <nb-badge text="new" status="success" position="top right"></nb-badge>
    <nb-accordion-item-header>{{ 'APP.AGENDA.DETAILS.STEPS.1.TITLE' | translate }}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div fxLayout="row"
           fxLayoutGap="8px"
           *ngIf="event.StartTime && event.EndTime">
        <nb-icon icon="clock-outline"></nb-icon>
        <span>{{event.StartTime | date: 'HH:mm'}} - {{event.EndTime | date: 'HH:mm'}}</span>
      </div>

      <div fxLayout="row"
           fxLayoutGap="8px"
           *ngIf="event?.Meta?.agenda">
        <nb-icon icon="calendar-outline"></nb-icon>
        <app-agenda-label [agenda]="event.Meta.agenda">
          <ng-container *ngIf="isOwner(); else standardLabel">
            {{ event.Meta.agenda.name | translate }}
          </ng-container>

          <ng-template #standardLabel>
            <ng-container *ngIf="event.Meta.agenda.user; else teamLabel">
              {{ event.Meta.agenda.user.displayFormattedName() }}
            </ng-container>
            <ng-template #teamLabel>
              {{ event.Meta.agenda.team.name}}
            </ng-template>
          </ng-template>
        </app-agenda-label>
      </div>

      <div fxLayout="row"
           fxLayoutGap="8px"
           *ngIf="event.Description">
        <nb-icon icon="menu-outline"></nb-icon>
        <p>{{event.Description}}</p>
      </div>

      <div fxLayout="row"
           fxLayoutAlign="end center"
           *ngIf="event?.Meta?.eventType === 'MEETING' && event?.Meta?.meetingUrl">
        <button nbButton
                outline
                [size]="'medium'"
                [shape]="'round'"
                status="primary"
                (click)="navigateTo(event.Meta.meetingUrl)">
          <nb-icon [icon]="'video-outline'"></nb-icon>
          {{ 'APP.AGENDA.DETAILS.STEPS.1.JOIN_MEETING' | translate }}
        </button>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>{{ 'APP.AGENDA.DETAILS.STEPS.2.TITLE' | translate }}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <app-event-chat [event]="event"
                      (sendMessage)="sendMessage($event)">
      </app-event-chat>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item *ngIf="event.Meta.eventType === 'MEETING'">
    <nb-accordion-item-header>{{ 'APP.AGENDA.DETAILS.STEPS.3.TITLE' | translate }}</nb-accordion-item-header>
    <nb-accordion-item-body>
      <button nbButton
              outline
              status="primary"
              fxHide.gt-sm
              [disabled]="!event?.Meta?.report"
              (click)="documentEditorComponent.onDownload()">
        <nb-icon [icon]="'download-outline'"></nb-icon>
        {{ 'APP.AGENDA.DETAILS.STEPS.3.VIEW_FILE' | translate }}
      </button>

      <app-document-editor #documentEditorComponent
                           fxHide.lt-md
                           [event]="event"
                           (saveReport)="saveDocument()">
      </app-document-editor>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
