:host ::ng-deep {
  nb-list {
    nb-list-item {
      &:hover {
        cursor: pointer;
        font-weight: 600;
      }

      span {
        &.in-progress {
          color: red;
          font-weight: bold;
        }
      }
    }
  }
}
