/* DISABLE horizontal resize of textarea */
textarea {
  resize: vertical !important;
}

nb-checkbox:hover {
  cursor: pointer !important;
}

/* OVERRIDE OF ngx-toastr style */
div.toast-container {
  div.ngx-toastr {
    color: red;

    &.toast-success {
      background-color: red;
      background-image: none;
      color: inherit;

      button {
        color: inherit;

        span {
          color: inherit;
        }
      }
    }

    &.toast-warn {
      background-color: red;
      background-image: none;
      color: inherit;

      button {
        color: inherit;

        span {
          color: inherit;
        }
      }
    }

    &.toast-info {
      background-color: red;
      background-image: none;
      color: inherit;

      button {
        color: inherit;

        span {
          color: inherit;
        }
      }
    }

    &.toast-error {
      background-color: red;
      background-image: none;
      color: inherit;

      button {
        color: inherit;

        span {
          color: inherit;
        }
      }
    }
  }
}
