  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    padding: 20px;
  }

  @media only screen and (max-width: 500px) {
    /* For mobile phones: */
    .cards {
      grid-template-columns: repeat(1, minmax(200px, 1fr));

    }
  }
