<nb-card>
  <nb-card-header fxLayoutAlign="space-between center">
    <nb-actions size="small">
      <nb-action icon="save-outline"></nb-action>
      <nb-action icon="printer-outline"></nb-action>
      <nb-action icon="download-outline"></nb-action>
    </nb-actions>

    <nb-actions size="small">
      <nb-action icon="plus-outline"></nb-action>
    </nb-actions>
  </nb-card-header>

  <nb-card-body>

    <div *ngIf="users$ | async as users">
      <div gdColumns="repeat(auto-fill, minmax(550px, 1fr))"
           gdColumns.lt-sm="1fr"
           gdGap="12px">
        <nb-user *ngFor="let user of users" size="medium"
                 [name]="user.displayFormattedName()">
        </nb-user>
      </div>
    </div>

  </nb-card-body>
</nb-card>
