:host ::ng-deep {
  nb-layout {
    height: 100% !important;

    nb-sidebar {
      box-shadow: none !important;
      .scrollable {
        padding: 2rem 1rem 0.5rem 1rem;
      }
    }

    nb-layout-column {
      padding: 0 !important;
      nb-card {
        height: inherit !important;
      }
    }
  }
}
