@import "../../../../helper";

:host ::ng-deep {
  .card {
    padding: 12px 30px;
    border-radius: 25px;
    height: auto;
    color: red;
    @extend .full-width;

    &.success {
      background: red;
    }
    &:not(.success) {
      background: red;
    }

    .title {
      color: inherit;
      font-size: 1.5em;
    }

    .content {
      font-family: "Dancing Script", cursive !important;
      font-size: 3.5em;
      color: inherit;
    }
  }
}
