<button nbButton
        [ghost]="!nbSidebarComponent?.expanded"
        [outline]="nbSidebarComponent?.expanded"
        [status]="!nbSidebarComponent?.expanded ? 'primary' : 'danger'"
        shape="semi-round"
        size="large"
        (click)="toggle.emit()"
        [style.marginLeft]="'16px'">
  <nb-icon [icon]="!nbSidebarComponent?.expanded ? 'menu-outline' : 'close-outline'"
           [status]="!nbSidebarComponent?.expanded ? 'primary' : 'danger'">
  </nb-icon>
</button>

<nb-search hidden
           [type]="'modal-zoomin'"
           [hint]="'APP.SEARCH.HINT' | translate"
           [placeholder]="'APP.SEARCH.PLACEHOLDER' | translate"
           [tag]="'topbar-search'">
</nb-search>

<span [fxFlex]="'auto'"></span>

<button nbButton
        ghost
        status="primary"
        shape="semi-round"
        size="large"
        (click)="toggleTheme()">
  <nb-icon [icon]="isDarkTheme ? 'sun-outline' : 'moon-outline'"></nb-icon>
</button>

<button nbButton
        ghost
        status="primary"
        shape="semi-round"
        size="large"
        (click)="logout.emit()"
        [routerLink]="'/homepage'">
  <nb-icon icon="power-outline"></nb-icon>
</button>
