<nb-card>
  <nb-card-header fxLayoutAlign="space-between center">
    <button nbButton
            ghost
            status="primary"
            shape="round"
            size="giant"
            [routerLink]="'/homepage'">
      <nb-icon icon="arrow-back"></nb-icon>
    </button>
  </nb-card-header>
  <nb-card-body [fxLayoutAlign]="'center center'">

    <form [formGroup]="loginForm"
          (ngSubmit)="login()"
          [fxFlex.lt-md]="'100%'"
          [fxFlex]="'1 1 560px'"
          [fxLayout]="'column'"
          [fxLayoutAlign]="'center center'"
          [fxLayoutGap]="'32px'">

      <h1 class="title">{{ 'AUTH.LOGIN' | translate }}</h1>

      <nb-form-field>
        <label for="username-input">{{ 'FORM.INPUT.USERNAME' | translate }}</label>
        <nb-icon nbPrefix
                 icon="person-outline"
                 pack="eva"
                 [style.margin-top]="'1.6rem'">
        </nb-icon>
        <input nbInput
               id="username-input"
               fullWidth
               [status]="(checkFieldForError('usernameOrEmail')) ?
               'danger' : 'basic'"
               [type]="'text'"
               [formControlName]="'usernameOrEmail'">
        <nb-error *ngIf="checkFieldForError('usernameOrEmail')">
          <ng-container *ngIf="loginForm.get('usernameOrEmail').errors.required">
            {{ 'FORM.INPUT.ERRORS.REQUIRED' | translate }}
          </ng-container>
        </nb-error>
      </nb-form-field>

      <nb-form-field>
        <div class="margin-bottom-xs"
             [fxLayout]="'row'"
             [fxLayoutAlign]="'space-between center'">
          <span [fxHide.lt-md]="true">{{ 'FORM.INPUT.PASSWORD' | translate }}</span>

          <a [routerLink]="'../reset-password'">{{ 'FORM.FORGOTTEN_PASSWORD' | translate }}</a>
        </div>
        <nb-icon nbPrefix
                 icon="unlock-outline"
                 pack="eva"
                 [style.margin-top]="'1.6rem'">
        </nb-icon>

        <input nbInput
               fullWidth
               [status]="(checkFieldForError('password')) ?
               'danger' : 'basic'"
               [type]="showPassword ? 'text' : 'password'"
               [formControlName]="'password'">
        <nb-error *ngIf="checkFieldForError('password')">
          <ng-container *ngIf="loginForm.get('password').errors.required">
            {{ 'FORM.INPUT.ERRORS.REQUIRED' | translate }}
          </ng-container>
        </nb-error>
        <button nbSuffix
                nbButton
                ghost
                (click)="showPassword = !showPassword"
                [style.margin-top]="'1.6rem'">
          <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                   pack="eva"
                   [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
          </nb-icon>
        </button>
      </nb-form-field>

      <button nbButton
              hero
              status="primary"
              type="submit"
              [disabled]="!loginForm.valid">
        {{ 'FORM.BTN.LOGIN' | translate }}

      </button>

      <p>{{ 'FORM.NO_ACCOUNT' | translate }}
        <a [routerLink]="'../register'">{{ 'FORM.BTN.REGISTER' | translate }}</a>
      </p>


    </form>
  </nb-card-body>
</nb-card>
