@import "../../helper";

:host ::ng-deep {
  nb-layout {
    nb-layout-column {
      padding: 2.5rem !important;

      nb-form-field {
        @extend .full-width;
      }

      nb-card {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  nb-layout {
    nb-layout-column {
      padding: 0 !important;
    }
  }
}
