:host ::ng-deep {
  nb-layout {
    nb-layout-column {
      padding: 2.25rem !important;
    }
    nb-layout-footer {
      nav {
        justify-content: flex-end !important;
      }
    }

    nb-sidebar {
      &.compacted {
        nb-icon {
          margin: 0 !important;
        }
      }
    }
  }
}
