<nb-layout>
  <nb-layout-header fixed>
    <button nbButton
            ghost
            status="primary"
            shape="round"
            size="small"
            [routerLink]="'/homepage'">
      <nb-icon icon="arrow-back"></nb-icon>
    </button>
    <button nbButton status="success" size="tiny" (click)="toggle()">Toggle</button>
    <button nbButton status="info" size="tiny" (click)="toggleCompact()">Toggle Compact</button>
  </nb-layout-header>

  <nb-sidebar tag="left"></nb-sidebar>
  <nb-sidebar right tag="right"></nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
