<nb-layout>
  <nb-layout-header fixed>
    <button nbButton
            ghost
            status="primary"
            shape="semi-round"
            size="large"
            (click)="toggle()">
      <nb-icon [icon]="nbSidebarComponent.compacted ? 'menu-outline' : 'menu-arrow-outline'"></nb-icon>
    </button>
    <nb-search [type]="'modal-zoomin'"
               [hint]="'APP.SEARCH.HINT' | translate"
               [placeholder]="'APP.SEARCH.PLACEHOLDER' | translate"
               [tag]="'topbar-search'">
    </nb-search>

    <span [fxFlex]="'auto'"></span>

    <button nbButton
            ghost
            status="primary"
            shape="semi-round"
            size="large"
            (click)="logout()"
            [routerLink]="'/homepage'">
      <nb-icon icon="power-outline"></nb-icon>
    </button>
  </nb-layout-header>

  <nb-sidebar #nbSidebarComponent
              tag="left"
              [responsive]="true">
    <app-left-menu></app-left-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>
    <app-footer [hideCopyRight]="true"></app-footer>
  </nb-layout-footer>
</nb-layout>
