:host ::ng-deep {
  nb-layout {
    nb-layout-column {
      padding: 1.5rem !important;

      > nb-card {
        background: transparent !important;
      }

      nb-card {
        margin-bottom: 0 !important;
      }
    }

    nb-layout-footer {
      nav {
        justify-content: flex-end !important;
      }
    }

    nb-sidebar {
      &.compacted {
        nb-icon {
          margin: 0 !important;
        }
      }
    }
  }

  .nebular-dialog {
    display: flex;
    align-items: center;
    place-content: center;
    min-width: 20vw !important;
    max-width: 80vw !important;
    max-height: 80vh !important;

    nb-card {
      height: 100% !important;
    }
  }

  .nebular-dialog-fullscreen {
    width: 100vw !important;
    height: 100vh !important;

    nb-card {
      width: 100vw !important;
      height: 100% !important;
    }
  }
}
