<nb-layout>

  <nb-layout-header>
    <app-header [fxFlex]="'100%'"
                [fxLayoutAlign]="'space-around center'"
                [fxLayoutGap]="'16px'">
    </app-header>
  </nb-layout-header>

  <nb-layout-column>

    <app-hero-banner></app-hero-banner>

    <section id="features">
      <p id="dashboard">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
      </p>
      <p id="agenda">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
      </p>
      <p id="communication">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
      </p>
      <p id="meeting">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam asperiores aut autem blanditiis cum delectus, eius eos est incidunt iusto, labore odio pariatur quam quo repudiandae sint. Laborum, perspiciatis.
      </p>
    </section>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>








