@import "homepage.helper";


:host ::ng-deep {
  // OVERRIDE MAIN LAYOUT
  nb-layout {
    .layout {
      background-color: #ffffff !important;

    }

    nb-layout-header {

      // menu is fixed to top
      &:not(.transparent) {
        background-color: #ffffff;
        border-bottom-left-radius: 25px !important;
        border-bottom-right-radius: 25px !important;
        transition: all 1s ease-in-out;

        app-header-app-name {
          color: red;
        }

        app-header-menu {
          ul {
            li {
              a {
                color: red;
                transition: all 1s ease-in-out;
              }

              a:after {
                background: red;
              }

              a:hover {
                color: red;
              }

              a.active {
                transition: all 1s ease-in-out;
                color: red;
              }
            }
          }
        }
      }

      &.transparent {
        background-color: red;

        app-header-app-name {
          div {
            color: #ffffff;
          }
        }

        app-header-menu {
          ul {
            li {
              a {
                color: #ffffff;
              }

              a:after {
                background: #ffffff;
              }

              a:hover:not(.active) {
                color: #ffffff;

                &:after {
                  background: #ffffff;
                }
              }

              a.active {
                color: #ffffff;

              }
            }
          }
        }
      }


      nav {
        box-shadow: none !important;
      }
    }

    nb-layout-column {
      padding: 0 !important;
      background: #ffffff !important;
    }

    nb-layout-footer {
      background: #ffffff !important;
    }
  }
}
