<div id="home"></div>

<nb-layout>
  <nb-layout-header fixed
                    [class.transparent]="scrollYPosition === 0">
    <app-header [fxFlex]="'100%'"
                [fxLayoutAlign]="'space-around center'"
                [fxLayoutGap]="'16px'">
    </app-header>
  </nb-layout-header>

  <nb-layout-column>
    <ng-container
      *ngFor="let section of sections$ | async; let first = first; let last = last; let even = even; let odd = odd"
      [ngSwitch]="section.title.toLowerCase()">

      <app-hero-banner *ngSwitchCase="'time management'"></app-hero-banner>

      <app-section *ngSwitchDefault
                   [section]="section"
                   [even]="even"
                   [first]="first"
                   [last]="last"
                   [odd]="odd">
        <ng-container [ngSwitch]="section.anchor">

          <ng-container *ngSwitchCase="'features'"
                        [ngTemplateOutlet]="featuresContent">
          </ng-container>

          <ng-container *ngSwitchDefault
                        [ngTemplateOutlet]="emptyContent">
          </ng-container>

        </ng-container>
      </app-section>

    </ng-container>

    <app-scroll-to-top *ngIf="displayScrollToTop"
                       [container]="'homepage'">
    </app-scroll-to-top>

  </nb-layout-column>

  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>

<ng-template #featuresContent>
  <app-features-content></app-features-content>
</ng-template>

<ng-template #emptyContent>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid debitis delectus dicta dolorem doloribus
    ducimus eius est in ipsam labore, magnam minus officia provident repellendus unde, veritatis? Ducimus,
    reiciendis!
  </p>
</ng-template>








