<nb-layout>
  <nb-layout-header fixed
                    [class.transparent]="scrollYPosition === 0">
    <app-header [fxFlex]="'100%'"
                [fxLayoutAlign]="'space-around center'"
                [fxLayoutGap]="'16px'">
    </app-header>
  </nb-layout-header>

  <nb-layout-column>
    <section *ngFor="let section of sections$ | async"
             id="{{ section.anchor }}">
      <ng-container [ngSwitch]="section.title">

        <app-hero-banner *ngIf="section.title.toLowerCase() === 'time management'; else sectionTemplate"></app-hero-banner>

        <ng-template #sectionTemplate>
          <div class="section-title">
            {{ section.title }}
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eius itaque laborum magnam, minus
            molestiae
            numquam quasi veritatis vitae voluptatum? Ab aspernatur magni neque, officiis perferendis possimus velit.
            Dolores, iure?Alias architecto, aspernatur delectus enim perspiciatis repellat voluptatum? Aperiam
            asperiores
            culpa cum debitis delectus deserunt et fugit harum ipsa iste iusto libero neque non, quibusdam quod saepe ut
            vero voluptatem.Accusantium aliquam aliquid architecto cum dignissimos distinctio dolore eaque error esse
            est
            eveniet illo iste magnam minus, nemo nobis nulla, perferendis qui rem soluta tempora tempore temporibus unde
            vero vitae!Alias consequatur dicta dolorum ea eaque, earum excepturi ipsam laborum laudantium, minima nihil
            praesentium quibusdam, quo ratione recusandae repellat sed! Ab alias aliquid amet assumenda cum ducimus
            explicabo placeat porro.Commodi excepturi expedita maiores necessitatibus nemo, nulla provident quis
            repudiandae tempore. Architecto cupiditate eveniet natus omnis soluta, tempora tempore tenetur! Aliquam hic
            impedit vero voluptas. Accusantium earum libero quasi velit!Animi architecto asperiores consequuntur
            distinctio
            eligendi eum eveniet excepturi illo in laboriosam magnam maiores molestias nesciunt non odit officia optio
            perferendis, perspiciatis porro quibusdam reiciendis similique sunt, temporibus voluptate
            voluptatibus!Accusamus aspernatur atque dignissimos distinctio doloribus dolorum ea exercitationem fuga
            fugiat
            hic in, ipsam magni nemo nisi nulla numquam officia possimus quaerat quam recusandae reprehenderit suscipit
            tempore. Autem, error totam?Accusamus, aspernatur assumenda cumque earum et facilis illum in incidunt ipsam
            iure labore minima natus nobis nulla odit pariatur perferendis possimus quis, ratione reiciendis rem
            repudiandae sequi similique vel voluptates.Ab aperiam aspernatur autem corporis cumque ducimus, est
            explicabo
            necessitatibus optio rem repudiandae sunt temporibus voluptas voluptates, voluptatum! Doloremque eaque
            impedit
            in molestias odit officia officiis rem saepe vero voluptate?Aut commodi fuga ipsam nemo nobis odit pariatur
            perspiciatis porro sequi, veritatis. Aperiam aspernatur, cumque eius eum excepturi illum, itaque, nesciunt
            nobis officia placeat reiciendis voluptates. Ad dolore laboriosam necessitatibus?
          </p>

        </ng-template>

      </ng-container>


    </section>

    <app-section></app-section>

  </nb-layout-column>

  <nb-layout-footer>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>








