@import 'helper';
@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

;
/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #ffa9eb 14%, #f3a572 56%);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #f3a572 14%, #ffa9eb 64%);
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 15px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
}
