@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/corporate';
@import '~@nebular/theme/styles/themes/cosmic';

$dark-themes: nb-register-theme((
), dark, dark);

$default-themes: nb-register-theme((
), default, default);

$corporate-themes: nb-register-theme((
), corporate, corporate);

$cosmic-themes: nb-register-theme((
), cosmic, cosmic);
