<nb-card [class.fullscreen]="isFullscreen">
  <nb-card-header fxLayoutAlign="space-between center">
    <nb-actions size="tiny">
      <nb-action icon="save-outline"
                 [badgeDot]="isEdited"
                 [badgeStatus]="isEdited ? 'danger' : 'primary'">
      </nb-action>
    </nb-actions>

    <nb-actions size="tiny">
      <nb-action (click)="toggleFullscreen()"
                 [icon]="isFullscreen ? 'collapse-outline' : 'expand-outline'"
                 [nbTooltip]="'Mettre en plein écran'">
      </nb-action>
    </nb-actions>
  </nb-card-header>

  <nb-card-body>
    <ejs-documenteditorcontainer #documenteditor_default
                                 [enableToolbar]=true
                                 [locale]="culture"
                                 (created)="onCreate()"
                                 (contentChange)="onContentChange()">
    </ejs-documenteditorcontainer>
  </nb-card-body>
</nb-card>


